header.bg-indigo-600.p-4.shadow-md.mb-8.mx-auto.flex.justify-between.items-center
  h1.text-2xl.text-white.font-extrabold.text-center Bienes
    span.font-normal Raíces

  nav(class="text-center my-4 hidden md:flex md:items-center md:gap-3 font-bold text-white") 
    a(href="" class="text-white mx-2 hover:underline") Mis propiedades
    a(href="" class="text-white mx-2 hover:underline") Mi perfil 
    a(href="" class="text-white mx-2 hover:underline") Cerrar sesión