doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Bienes Raíces | #{pag}
    link(rel="stylesheet" href="/css/styles.css")
    block styles
  body.min-h-screen.bg-gray-200
    if navbar
      include header 
    
    main(class="container mx-auto mt-8 px-4")
      block content
    
    block scripts